.container {
    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
}

.container input  {
    padding: 0 10px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    /* margin-bottom: 10px; */
}