.container {
    width: 100%;
    display: flex;
}

.container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    height: 50px;
}

.container button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #079fe6;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.container button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}