#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 22px;
    font-weight: 500;

    margin: 50px 0 20px 0;
}

.search {
    margin-bottom: 20px;
}

#lastUpdate {
    display: block;
    color: red;
    font-size: 15px;
}


/* .productCard div:last-child {

}

.productCard:nth-child(odd) {
    background-color: #d6d6d610a;

} */