.container {
    padding: 20px  10px;
    
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff73;
} 

#body {
    margin-top: 5px;
}

#body span {
    display: block;
    margin-right: auto;
}

.allocatedStock {
    text-decoration: line-through;
    color: red;
}

.grup {
    display: flex;
    align-items: center;
    /* padding: 20px 0; */
}

.grup:first-child {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.grup button {
    margin-left: 10px;
    width: 50px;
    height: 25px;
    display: block;
    border-radius: 4px;
    outline: none;
    cursor: pointer;

    border: 1px solid #ccc;
}

#saveButton {
    width: 100%;
    display: block;
    margin-left: auto;
    max-width: 200px;
    background-color: #a8cee0;
    height: 35px;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid #cccccc;
    border: none;
    font-size: 16px;
}


.loadButton:disabled {
    opacity: 0.5;
}

.loadButton {
    cursor: progress;
}